
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ff64ad; 
}
::-webkit-scrollbar-track {
  background: #000; 
}

/* Unibody 8 Pro Regular Italic */
font-family: unibody-8-new, sans-serif;
font-weight: 400;
font-style: italic;

/* Unibody 8 Pro Regular*/
font-family: unibody-8-new, sans-serif;
font-weight: 400;
font-style: normal;

/* Unibody 8 Pro Black*/
font-family: unibody-8-new, sans-serif;
font-weight: 900;
font-style: normal;

/* Unibody 8 Pro Bold*/
font-family: unibody-8-new, sans-serif;
font-weight: 700;
font-style: normal;